@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  background: #eaeced;
  font-family: "Roboto", Arial, sans-serif;
  color: #444;
  font-size: 1rem;
  text-align: left;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  position: relative;
}

.featured-post{
  height:380px;
  margin-bottom:30px;
}

.featured-img{
  width:100%;
  height:100%;
  object-fit:cover;
  transition:.3s;
}

.featured-post:hover .featured-img{
  transform:scale(1.05);
}

.featured-overlay{
  position:absolute;
  left:0;
  bottom:0;
  width:100%;
  padding:20px;

  background:linear-gradient(
    to top,
    rgba(255,255,255,.92),
    rgba(255,255,255,.4),
    transparent
  );
}

.featured-label{
  display:inline-block;
  background:#d94b4b;
  color:#fff;

  padding:4px 10px;
  margin-bottom:10px;

  font-size:12px;
  font-weight:700;
  text-transform:uppercase;
}

.featured-title{
  margin:0;

  font-size:22px;
  line-height:1.4;
  font-weight:700;

  color:#333;
}

/* MOBILE */
@media(max-width:768px){

  .featured-post{
    height:280px;
  }

  .featured-title{
    font-size:18px;
  }

}

.widget-title{
  border-bottom:3px solid #e5e5e5;
  margin-bottom:20px;
}

.widget-title h5{
  display:inline-block;
  margin:0 0 -3px;
  padding-bottom:6px;
  text-transform:uppercase;
  color:#333;
  border-bottom:3px solid #2a9d8f;
}

.share .btn {
  border-radius: 5px;
  font-size: 1rem;
  transition: 0.2s ease;
}

.share .btn:hover {
  transform: translateY(-2px);
}

a {
  text-decoration: none;
}

/* stripes */
.gmr-bgstripes {
  width: 100%;
  height: 4px;
  overflow: hidden;
  background: #333
}

.gmr-bgstripe {
  width: 5%;
  height: 4px;
  float: left
}

.gmr-color1 {
  background: #008299
}

.gmr-color2 {
  background: #2672ec
}

.gmr-color3 {
  background: #8c0095
}

.gmr-color4 {
  background: #5133ab
}

.gmr-color5 {
  background: #ac193d
}

.gmr-color6 {
  background: #d24726
}

.gmr-color7 {
  background: #008a00
}

.gmr-color8 {
  background: #094ab2
}

.gmr-color9 {
  background: #006ac1
}

.gmr-color10 {
  background: #ff2e12
}

.gmr-color11 {
  background: #1faeff
}

.gmr-color12 {
  background: #91d100
}

.gmr-color13 {
  background: #cea539
}

.gmr-color14 {
  background: #7f6e94
}

.gmr-color15 {
  background: #4617b4
}

.gmr-color16 {
  background: #ad103c
}

.gmr-color17 {
  background: #004d60
}

.gmr-color18 {
  background: #569ce3
}

.gmr-color19 {
  background: #e56c19
}

.gmr-color20 {
  background: #1b58b8
}

/* Footer */
.footer {
  background: #2c3e50;
}

.credit {
  color: #ecf0f1;
  font-size: 13px;
  padding: 15px 0;
  margin: 0 auto;
  text-align: center
}

.credit a {
  color: #fff
}

.credit a:hover {
  color: #bdc3c7
}

.credit i {
  color: red;
  margin: auto 5px
}

span.credit {
  color: yellow
}

/* footer navigasi */
.footer-navmenu {
  padding: 15px 0px;
  font-weight: 500;
  font-size: 15px;
  color: #ffffff;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

.footer-navmenu ul {
  list-style: none;
  margin: 0;
}

.footer-navmenu ul li {
  display: inline-block;
  margin: 6px 0;
}

.footer-navmenu ul li:after {
  content: "/";
}

.footer-navmenu ul li:last-child:after {
  content: "";
}

.footer-navmenu ul li a {
  color: #ffffff;
  margin: 0 10px;
}

.footer-navmenu ul li a:hover {
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
}

/* blog pager */
#blog-pager {
  margin: 15px 0
}

#blog-pager-older-link a {
  border: 1px solid #ddd;
  float: right;
  width: auto;
  text-align: center;
  display: inline-block;
  color: #555;
  text-transform: none;
  margin: 0;
  padding: 4px 8px;
  background: #fff;
  font-size: 15px
}

#blog-pager-older-link a:hover,
#blog-pager-newer-link a:hover {
  color: #ecf0f1
}

#blog-pager-newer-link a {
  float: left;
  width: auto;
  text-align: center
}

#blog-pager-newer-link a,
#blog-pager-older-link a {
  font-size: 15px;
  padding: 6px 10px;
  margin: 2px 3px 2px 0px;
  display: inline-block;
  color: #e74c3c;
  border: 1px solid #ecf0f1;
}

#blog-pager-older-link a:hover,
#blog-pager-newer-link a:hover {
  color: #e74c3c;
  border: 1px solid #e74c3c
}

/* back to top */
#back-to-top {
  background: #e74c3c;
  color: #ffffff;
  padding: 10px 12px;
  border-radius: 50px;
  font-size: 15px
}

.back-to-top {
  position: fixed !important;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}

/* Responsive */
@media screen and (max-width:1040px) {

  #outer-wrapper,
  #wrapper {
    width: auto
  }
}

@media screen and (max-width:980px) {
  #wrapper {
    padding: 0 25px
  }

  #navitions {
    border-bottom: none
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .ai-viewport-1 {
    display: none !important;
  }

  .ai-viewport-2 {
    display: inherit !important;
  }
}

@media screen and (max-width:800px) {

  #header-inner h1,
  #header-inner img,
  #header h1,
  #header-inner h2,
  #header h2,
  #header-inner .title,
  #header-inner h1 a,
  #header-inner .title a {
    text-align: center
  }
}

@media screen and (min-width:768px) {
  #header2 {
    display: none;
    visibility: hidden
  }
}

@media screen and (max-width:768px) {

  #header2,
  #header2 .widget {
    display: block !important;
    max-width: 100%;
    width: 100%;
    text-align: center;
    overflow: hidden;
    margin: 1px auto
  }

  #wrapper {
    padding: 0 20px
  }

  #main-wrapper,
  #sidebar-wrapper {
    float: none;
    width: 100%;
    max-width: 100%
  }

  .post-body img {
    width: 100%;
    aspect-ratio: 0 !important
  }
}

@media screen and (max-width:600px) {
  #wrapper {
    padding: 0 15px
  }
}

@media screen and (max-width:480px) {
  #wrapper {
    padding: 0 10px
  }

  .post-thumbnail {
    width: 100%;
    margin: 0 auto 5px
  }
}

/* Responsive */
@media screen and (max-width: 768px) {

  .ads-left,
  .ads-right {
    display: block;
    float: none;
    margin: 5px 0 0;
    text-align: center
  }
}