--- 
--- 
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

// Our variables
$base-font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size: 16px;
$base-font-weight: 400;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit: 30px;

$text-color: #111;
$background-color: #fdfdfd;
$brand-color: #2a7ae2;

$grey-color: #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: darken($grey-color, 25%);

// Width of the content area
$content-width: 800px;

$on-palm: 600px;
$on-laptop: 800px;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "layout", "syntax-highlighting";

.share .btn {
  border-radius: 5px;
  font-size: 1rem;
  transition: 0.2s ease;
}

.share .btn:hover {
  transform: translateY(-2px);
}

/* Sticky hanya aktif di desktop */
@media (min-width: 992px) {
  #sidebar-sticky {
    position: sticky;
    top: 100px;
    align-self: flex-start;
  }
}


/* Reset CSS */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
/ <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name
.roboto-<uniquifier> {font-family: "Roboto", sans-serif;
font-optical-sizing: auto;font-weight: <weight>;font-style: normal;font-variation-settings:"wdth" 100;}
/* css */
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
/* CSS */
body {background:#ecf0f1;font-size:16px;font-family:Roboto,Arial,Sans-serif;font-weight:normal;line-height:1.6em;color:#2c3e50}
#clear,.clear{clear:both}
#navbar-iframe,.feed-links,.quickedit{display:none!important;visibility:hidden}
img,iframe,table,video,object,embed{background:none!important;border:0!important;max-width:100%}
img{max-width:100%;height:auto;}
img:hover{cursor:zoom-in}
img.hide{display:none;visibility:hidden}
iframe:hover{cursor:default!important}
strong,b{font-weight: 600}
cite,em,i{font-style:italic}
a, a:hover, a:focus, a:active{color:#e74c3c}
a:hover, a:focus, a:active{text-decoration:none;opacity:.8;cursor:default!important}
a:link{text-decoration:none}
a:visited{text-decoration:none;-webkit-transition:all .2s ease-in;-moz-transition:all .2s ease-in;-ms-transition:all .2s ease-in;transition:all .2s ease-in}
a:hover{color:#333;text-decoration:none;-webkit-transition:all .2s ease-in;-moz-transition:all .2s ease-in;-ms-transition:all .2s ease-in;transition:all .2s ease-in;cursor:pointer}
a img{border:none;border-width:0;outline:none}
abbr,acronym{color:#666;border-bottom:1px dotted;cursor:help;position:relative}
small{font-size:86%}
p,blockquote,pre,table,figure,hr,form,ol,ul,dl{margin:0 0 1.2em}
hr{height:1px;border:none;background-color:#666}
h1,h2,h3,h4,h5,h6{font-weight: 700;color:#555}
h1{font-size:130%}
h2{font-size:120%}
h3{font-size:110%}
h4{font-size:100%}
h5{font-size:80%}
h6{font-size:60%}
dl,ol,ul{margin-left:20px}
ol{list-style:decimal outside}
ul{list-style:square outside}
li{margin:5px 0}
ol ol,ul ul{margin-left:16px}
ol li{border-bottom:1px dashed #e5e5e5;padding:0 0 5px}
dl{overflow:hidden}
li p:first-child,dt p:first-child{margin-top:20px}
dt{clear:left;float:left;width:26%;text-align:right}
dd{margin-left:30%;margin-bottom:20px}
kbd{background-color:#2E3439;color:#fff;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;font-size:86%;padding:2px 6px}
small{font-size:86%}
sup,sub{font-size:76%;position:relative;top:.45em}
sup{top:-.45em}
mark,.highlight{background-color:#FAD163;color:black}
mark.highlight{border:1px solid #8D3000}
pre,code{font-family:"Courier New",Courier,Monospace;color:inherit}
pre{white-space:pre;word-wrap:normal;overflow:auto}
form{margin:0;padding:0}
.separator,.separator a{margin-right:0!important;margin-left:0!important}
/* viewports */
.ai-viewports {--ai: 1;}
.ai-viewport-3 {display: none !important;}
.ai-viewport-2 {display: none !important;}
.ai-viewport-1 {display: inherit !important;}
.ai-viewport-0 {display: none !important;}
/* Body CSS */
#outer-wrapper{width:1040px;background:#fff;margin:0 auto;padding:0;overflow:hidden;}
#wrapper{background:#fff;margin:0 auto;padding:0 30px;overflow:hidden;}
#content-wrapper{background:#fff;width:100%;max-width:100%}
#main-wrapper{background:#fff;float:left;width:65%;max-width:100%;margin:0;padding:0}
#nav-top li, #navi li{list-style:none}
/* header */
#header-wrapper{max-width:100%;background:#fff;margin:0 auto;padding:10px 0;overflow:hidden;text-align: center}
#header-inner h1,#header-inner img, #header1 h1,#header-inner h2,#header1 h2, #header-inner .title,#header-inner h1 a,#header-inner .title a{font-family:Roboto;font-size:20px;margin:0;font-weight:bold;padding:0;color:#db301e;text-transform:uppercase}
/* Navigation */
.nubie-navigation{position:relative;padding:0;margin:0 auto}
#navigationwrapper{z-index:1;margin:0 auto 5px}
#navi-idntheme{height:46px;width:100%;text-transform:uppercase;background:#e74c3c;color:#e74c3c;border-bottom: 3px solid #db301e;}
#navi-idntheme a {font-size:.9em;display:block;line-height:46px;padding:0 10px;text-decoration:none;color:#fff;font-weight:bold}
#navi-idntheme a:hover {color:#fff}
#navi-idntheme a i{font-weight:normal}
#navi-idntheme ul,#navi-idntheme li{margin:0 auto;padding:0;list-style:none;z-index:10}
#navi-idntheme li{float:left;display:inline;position:relative}
#navi-idntheme li:hover{color:#fff}
#navi-idntheme input{display:none;margin:0;padding:0;width:80px;height:30px;opacity:0;cursor:pointer}
#navi-idntheme label{display:none;width:45px;height:45px;line-height:45px;text-align:center}
#navi-idntheme label span{font-size:16px;position:absolute;left:35px}
#navi-idntheme ul.menus li{display:block;width:100%;text-transform:none;text-shadow:none}
#navi-idntheme ul.menus a{color:#FFF;line-height:35px}
#navi-idntheme li a:hover{background:rgba(0,0,0,0.1)}
#navi-idntheme li:hover ul.menus{display:block}
#navi-idntheme ul.menus a:hover{background:#5FC6EB;color:#fff}
#navi-idntheme li ul{background:#fff;margin:0;width:150px;height:auto;position:absolute;top:45px;left:0;z-index:10;display:none;box-shadow:0 2px 6px rgba(0,0,0,0.15)}
#navi-idntheme li li{display:block;float:none}
#navi-idntheme li li a:hover{background:#e55a42}
#navi-idntheme li:hover > ul{}
#navi-idntheme li ul ul{left:100%;top:0}
#navi-idntheme li li > a{display:block;padding:0 10px;margin:0;line-height:34px;color:#222;border-bottom:1px dotted rgba(0,0,0,0.03);font-weight:400;text-transform:none}
#navi-idntheme li li > a:hover{background:#f5f5f5;color:#222}
#navi-idntheme li.firstli {background:#db301e;line-height:36px;overflow:hidden}
#navi-idntheme li.firstli a{padding:0 15px}
#navi-idntheme li.firstli a:hover{background:transparent}
#navi-idntheme li a i{font-family:fontawesome;font-style:normal;font-size:18px}
#navi-idntheme a i.fas.fa-angle-down{margin-left:5px;font-size:13px}
#navi-idntheme p{display:none}
@media screen and (max-width:800px){
#navi-idntheme{position:relative}
#navi-idntheme i{color:#fff}
#navi-idntheme ul{background:#fff;position:relative;top:-20px;left:0;z-index:3;display:none;overflow-x:auto}
#navi-idntheme ul.menus{width:100%;position:static;padding-left:20px}
#navi-idntheme li{display:block;float:none;width:auto;left:0;background:#e74c3c}
#navi-idntheme p{display:block;padding:11px;font-size:18px;font-weight:bold;color:#fff;line-height:1.5em}
#navi-idntheme input,#navi-idntheme label{position:absolute;top:0;right:0;display:block;height:46px}
#navi-idntheme input{z-index:4;width:100%}
#navi-idntheme input:checked + label{color:#fff}
#navi-idntheme input:checked ~ ul{display:block;width:100%}
#navi-idntheme li:hover > ul{width:100%}
#navi-idntheme li ul{background:#222;height:auto;position:relative;width:auto;box-shadow:none;top:0}
#navi-idntheme li li > a{color:#444;border:0}
#navi-idntheme li li > a:hover{background:#2a2a2a;color:#fff}
#navi-idntheme label{font-size:25px;right:5px}
#navi-idntheme a i.fas.fa-angle-down{float:right}
#navi-idntheme li.firstli{display:none}
}
/* title widget */
.featured-post h2,.latest-post h2,#share-container h2,.sidebar h2,.sidebar-sticky h2,#share-container h2,.related-post h2 {font-weight:600;text-align:left;position:relative;margin:0 0 10px;text-transform:uppercase;padding:5px 0;color:#3498db;border-bottom:2px solid #ecf0f1;letter-spacing:1px}
.featured-post h2:before,.latest-post h2:before,.sidebar h2:before,.sidebar-sticky h2:before,#share-container h2:before,.related-post h2:before {content:'';position:absolute;bottom:-2px;left:0;right:0;background:#f00;width:10%;height:2px}
/* Featured Post */
.featured-post {margin:auto;overflow:hidden;max-width:100%}
.featured-post .widget{margin: 0 auto 20px;height:auto}
.FeaturedPost .post-summary {margin: 10px auto 20px;position: relative;padding: 0;min-height: auto;height: auto;aspect-ratio:16/9;overflow: hidden;}
.FeaturedPost .post-summary h3{font: 600 26px Roboto,Arial,Sans-serif;color: white;position: absolute;bottom:0;left:0;right:0;max-width:100%;padding:20px;z-index: 1;background:transparent linear-gradient(to bottom, transparent 0px, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0.9) 100%) repeat scroll 0 0 !important;-webkit-box-decoration-break: clone;border-radius:3px}
.FeaturedPost .post-summary h3 a{color:#ffffff;}
.FeaturedPost .post-summary h3:hover {color:#ffffff;text-decoration:underline}
.FeaturedPost .post-summary p {position: absolute;background: #ffffff;color: #999;padding: 3px 8px;bottom: 15px;margin: 0 20px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.FeaturedPost .post-summary p a{color:#444}
.FeaturedPost .image,.FeaturedPost .post-summary img {width: 100%;height:auto;aspect-ratio:16/9;display: block;background: #e5e5e5;}
/* ads */
.banner-ad{max-width: 100%;margin: 0 auto 10px;padding:0;text-align:center;overflow: hidden;position: relative;}
.post-ad{max-width: 100%;text-align: center;overflow: hidden;position: relative;margin: 15px auto}
.infeed-ad {max-width: 100%;margin: 0 auto 10px;overflow:hidden;text-align: center;}
#ad-popular{max-width: 100%;text-align: center;overflow: hidden;position: relative;margin: 0 auto}
/* CSS styles */
.ad-container {margin-bottom: 20px; 
/* Tambahkan jarak antar iklan */
background-color: #f2f2f2;border: 1px solid #ccc;border-radius: 5px;padding: 10px;box-sizing: border-box;}
.ad-title {font-size: 18px;font-weight: bold;color: #333;margin-bottom: 10px;}
.ad-description {font-size: 14px;color: #666;margin-bottom: 10px;}
.ad-button {display: inline-block;padding: 8px 16px;background-color: #007bff;color: #fff;text-decoration: none;border: none;border-radius: 4px;font-size: 14px;cursor: pointer;}
.ad-button:hover {background-color: #0056b3;}
.ad-text {font-size: 12px;color: #999;}
/* Gaya tambahan untuk ukuran iklan */
.ad-970x250 {width: 970px;height: 250px;}
.ad-300x250 {width: 300px;height: 250px;}
.ad-728x90 {width: 728px;height: 90px;}
.ad-300x600 {width: 300px;height: 600px;}
/* breadcrumbs */
.breadcrumbs {font-size:12px;color:#aaa;line-height:1.4em;margin:0 auto 1rem;font-weight: 300;}
.breadcrumbs span {color:#aaa;white-space: nowrap;text-transform: capitalize;}
.breadcrumbs a {color:#aaa;padding:0;white-space: nowrap;font-weight: 300;}
.breadcrumbs a:hover{color:#48d}
/* Label Info */
.post-details,.post-details a {color:#3498db;font-size:1rem;font-weight:300}
.label-info{color:#3498db;margin: 0 15px 0 0;text-transform:capitalize;line-height:1.4em;white-space: nowrap}
/* post info */
.post-info{display: block;margin:0 auto;color:#aaa;line-height:1.1em;font-size:12px;font-weight: 300;overflow:hidden;text-align:center}
.post-info a,.author-info a{color:#555555;}
.post-info a:hover,.author-info a:hover{color:#222222;}
.post-info .author-info span,.post-info span.label-info{margin:0 .5rem;color:#aaa;}
.post-info span.label-info a{color:#aaa;}
/* post */
.post h1 {font-size: 2em;text-align:center;line-height:1.6em;padding: 15px 0;}
.post h2 a,.post h2 strong {font-size: 1.2em;font-weight:700;margin: 0 auto 7px;display:block;color:#e74c3c;line-height:1.3em}
.post h2 a:visited,.post h2 a:hover{color: #e74c3c;text-decoration:none;}
.post-thumbnail {width: 240px;height:auto;aspect-ratio:16/9;float: left;margin: 0 15px 10px 0}
.post-thumbnail img {width:100%;height:100%;aspect-ratio:16/9;object-fit:cover}
.post-outer {margin-bottom: 20px;border-bottom:1px solid #eee!important}
.post-body {font-family: Roboto,Arial,Sans-serif;font-weight: 300;color: #2c3e50;font-size: 16px;position: relative}
.post-body img {max-width:100%!important;width:100%!important;height: auto!important;position: relative;box-shadow:none;pointer-events: none}
.post-body a{color: #444;pointer-events: none}
.post-body h1{text-align:left;font-size: 1.3em}
.post-body span{margin-right:0!important;margin-left:0!important}
.post-snippet {font-size:15px;color:#777777;line-height:1.4em;margin:5px auto 15px;font-weight:300}
.post-image {width:100%;aspect-ratio: 16/9;object-fit: cover;}
/* baca juga */
.ignielRelatedMiddle {background-color:#f9f9f9;font-style:normal;display:block; margin:20px 0px; padding:10px 20px;border-radius:10px;border: 1px solid #dddfe2;}
.ignielRelatedMiddle .judul {color:#e74c3c; font-size:100%; font-weight:500; text-transform:uppercase}
.ignielRelatedMiddle ul {margin:10px 0px 0px !important; padding:0px !important;}
.ignielRelatedMiddle ul li {list-style:disc;margin-left:20px; padding:5px 0px !important; border-bottom:1px dashed #ccc !important; text-align:left !important; line-height:1.25em !important;}
.ignielRelatedMiddle ul li:first-child {padding-top:0px !important;}
.ignielRelatedMiddle ul li:last-child {padding-bottom:0px !important; border:0px !important}
.ignielRelatedMiddle ul li a {pointer-events: auto!important;cursor:pointer!important;font-weight:normal;color: #2980B9;}
.ignielRelatedMiddle ul li a:hover {color: #e74c3c;pointer-events: auto!important;cursor:pointer!important;}
/* post label */
.post-label {position:relative;font-size:12px;margin:15px 0;padding:0}
.post-label span{border:1px solid #333;border-radius:3px;background:#333;color:#fff;position:relative;font-size:12px;margin:15px 0;padding:2px 5px}
.post-label a{margin-left: 3px;border:1px solid #ccc;border-radius:3px;color:#ccc;padding: 2px 5px}
.post-label a:hover{background:#ccc;color:#fff;cursor:pointer}
/* label line */
.label-line, .label-line-c {position:relative;}
.label-line-c {text-align: center;margin-bottom: 6px;}
.label-line:before, .label-line-c:before {content: "";width: 100%;height: 2px;background: #efefef;position: absolute;top:50%;left: 0;margin-top: -2px;}
/* Share button */
#share-container {margin: 20px auto 5px;overflow: hidden;padding: 10px 0 20px}
#share {width: 100%;text-align: center;}
#share a {width: 12.9%;margin-right:5px;border-radius:3px;height: 30px;display: block;font-size: 20px;color: #fff;transition: opacity 0.15s linear;float: left;}
#share a:hover {opacity: 0.8;}
#share i {position: relative;top: 50%;transform: translateY(-50%);}
.vk {background: #3b5998;}
.facebook {background: #3b5998;}
.twitter {background: #55acee;}
.telegram {background: #0166ff}
.linkedin {background: #0077b5;}
.pinterest {background: #cb2027;}
.whatsapp {background: #25d366;}
/* searching */
.serching{margin:0 auto}
.serching form{border:2px solid #ecf0f1;font-size:15px}
.serching form input{display:block!important;margin:0;border:0;padding:0;outline:0;height:40px;line-height:40px;font-size:13px;border-radius:0!important}
.serch{float:left;width:100%;text-indent:10px}
.serchg{float:right;width:15%!important;height:50px!important;padding:0!important;background:gray;color:#fff;border:0!important;font-size:12px!important}
/* sidebar */
#sidebar-wrapper{background:#fff;float:right;max-width:300px;width:32%;margin:0;padding:0}
.sidebar .widget, .sidebar-sticky .widget{margin: 5px 0 10px 0;display: inline-block;width:100%}
.sidebar ul {list-style:none;margin:0;padding:0}
.sidebar li {}
.sidebar li:before {content:'\f061';font-weight:normal;color: #e74c3c;font-family:fontAwesome;margin-right:10px}
.sidebar li a{border-bottom:1px dotted #ddd;}
.sidebar a {font-size: 15px;color:#555;text-decoration:none}
.sidebar a:hover {color:#e74c3c;text-decoration:none}
.sidebar-sticky {z-index:1;text-align:center}
.sidebar-sticky .widget-content{text-align:center}
.sidebar-sticky ul {list-style:none;margin:0;padding:0;text-align:left}
.sidebar-sticky li:before {content:'\f061';font-weight:normal;color: #e74c3c;font-family:fontAwesome;margin-right:10px}
.sidebar-sticky li a{border-bottom:1px dotted #ddd;}
.goog-te-gadget .goog-te-combo{width:100%;max-width:100%}
/* popular */
.PopularPosts .widget-content{text-align: left}
.PopularPosts ul{background:#fff;list-style:none;margin:0;padding:0;overflow:hidden;border-top:none}
.PopularPosts li,.PopularPosts li img,.PopularPosts li a,.PopularPosts li a img{margin:0;padding:0;list-style:none;border:none;background:none;outline:none;color:#e74c3c}
.PopularPosts ul {margin:0;list-style:none;color:#64707a}
.PopularPosts ul li img{width: 90px;aspect-ratio: 4/3;margin:0 10px 0 0;overflow:hidden;float:left;}
.PopularPosts ul li {list-style:none;background-color:#fff;margin:0;padding:.7em 0!important;border:0;position:relative;border-bottom:2px solid #ecf0f1}
.PopularPosts ul li:before {display:none;visibility: hidden}
.PopularPosts ul li:first-child{border-top:none}
.PopularPosts ul li:last-child{border-bottom:none}
.PopularPosts ul li .item-title a,.PopularPosts ul li a{color: #555555;font-weight: normal;font-size: 15px;line-height: 1.4em}
.PopularPosts ul li a:hover{color:#e74c3c;}
.PopularPosts .item-snippet{display:none}
.PopularPosts .item-title{font-weight:700;padding-bottom:.2em;padding:0;line-height: 1.4em}
/* Archive */
#BlogArchive1_ArchiveMenu {color:#777;width: 100%;height: 40px;padding: 5px;border:2px solid #ecf0f1}
div#BlogArchive1.widget.BlogArchive{margin: 5px auto}
/* feed */
#Feed1{margin:5px auto 0}
#Feed2{margin:0 auto 5px}
/* label */
.widget.Label{margin:20px auto}
.cloud-label-widget-content{text-align:left}
.label-size{float:left;margin:0 2px 2px 0;color:#ecf0f1!important;border:2px solid #ecf0f1;padding:5px; text-transform: capitalize;}
.label-size:hover{border:2px solid #e74c3c;color:#e74c3c!important}
.label-size a,.label-size span,.label-size-1,.label-size-2,.label-size-3,.label-size-4,.label-size-5 {color:#777;font-size: 14px}
.label-size a:hover,.label-size span:hover,.label-size-1:hover,.label-size-2:hover,.label-size-3:hover,.label-size-4:hover,.label-size-5:hover{color:#e74c3c!important}
/* post label */
#postlabel {position:relative;line-height:1.4em;font-size:13px;margin:15px 0 20px}
#postlabel a{font-weight:bold;background:#ccc;color:#fff;padding: 0 5px;white-space: nowrap}
#postlabel span{background:#555;color:#fff;padding: 0 5px}
/* Related Post */
.related-post{position:relative;margin:0;padding:0}
.related-post-style-2,.related-post-style-2 li{list-style:none;margin:0;padding:0}
.related-post-style-2 li {overflow:hidden;margin:10px auto;border-bottom: 1px dotted #ecf0f1;transition:all .3s}
.related-post-style-2 li:hover .related-post-item-title{color:#c00}
.related-post-style-2 .related-post-item-thumbnail,.related-post-style-2 .related-post-item-thumbnail img{width:100px;aspect-ratio:4/3;max-width:none;max-height:none;background-color:transparent;object-fit:cover;border:none;float:left;margin:0 10px 10px 0;padding:0}
.related-post-style-2 .related-post-item-title{text-align: left;color:#444;display:block;font-size:16px;font-weight:600;margin-bottom:5px}
.related-post-style-2 .related-post-item-title:hover{color:#33a8f0;cursor: pointer;}
.related-post-style-2 .related-post-item-summary{color:#888;display:block;font-size:12px;margin:5px auto 0 auto;line-height:1.5}
.related-post-style-2 .related-post-item-summary .related-post-item-more{display:none}
/*! related post */
.related-post {margin: 0 auto;overflow: hidden;}
.related-post ul {padding: 0 !important;font-size: 15px;}
/*! Style 3 */
.related-post-style-3 .related-post-item {transition: opacity 0.2s linear;}
.related-post-style-3,.related-post-style-3 li {margin: 0;padding: 0;list-style: none;word-wrap: break-word;overflow: hidden;}
.related-post-style-3 .related-post-item {float: left;width: 23.5%;height: auto;margin-right: 2%;margin-bottom: 10px;}
.related-post-style-3 .related-post-item:nth-of-type(4n+0) {margin-right: 0;}
.related-post-style-3 .related-post-item:nth-of-type(4n+1) {clear: both;}
.related-post-style-3 .related-post-item:hover {opacity: 0.7;}
.related-post-style-3 .related-post-item-thumbnail {display: block;max-height: none;background-color: transparent;border: none;padding: 0;max-width: 100%;aspect-ratio: 4/3}
.related-post-style-3 .related-post-item-title {color: #e74c3c;}
.related-post-style-3 a.related-post-item-title:hover {color:#1b699d;cursor: pointer;}
.related-post-style-3 .related-post-item-tooltip {padding: 10px 0;}
.related-post-item-tooltip .related-post-item-title {font-weight: normal;display: block;line-height: 1.5em;}
@media only screen and (max-width:480px){
.related-post-style-3 .related-post-item {width: 48%;margin-right: 4%;}
.related-post-style-3 .related-post-item:nth-of-type(2n+0) {margin-right: 0;}
.related-post-style-3 .related-post-item:nth-of-type(2n+1) {clear: both;}
}
/* Status Messages */
.status-msg-wrap {font-size: 100%;width: 100%;margin: 20px auto;}
/* Comment */
.comment-form {overflow: hidden;max-width:100%}
.comments h4 {line-height:15px;text-transform:capitalize;font-weight: normal;color:#666;margin:0 0 20px 0;font-size:15px;padding:0}
h4#comment-post-message {display: none;margin: 0 0 0 0;}
.comments {clear: both;margin-top: 10px;margin-bottom: 0}
.comments .comments-content .comment-content{font-size:90%}
.comments .comments-content .datetime{font-size:85%}
.comments .comments-content .comment-thread ol {text-align: left;margin: 13px 0;padding: 0}
.comments .avatar-image-container{border:1px solid #e9ebee;height:36px;background:#f8f8f8;border-radius:50px;overflow: hidden;padding:6px;}
.comments .avatar-image-container img{border-radius:50px}
.comments .comment-block{position: relative;border:1px solid #ecf0f1;padding: 15px;margin-left: 60px;}
.comments .comments-content .comment-replies {margin: 8px 0;margin-left: 60px}
.comments .comments-content .comment-thread:empty {display: none}
.comments .comment-replybox-single {background: #CED3D9;padding: 0;margin: 8px 0;margin-left: 60px}
.comments .comment-replybox-thread {background: #EDEFF1;margin: 8px 0 0 0;padding: 0;}
.comments .comments-content .comment {margin-bottom: 6px;padding: 0}
.comments .comments-content .comment:first-child {padding: 0;margin: 0}
.comments .comments-content .comment:last-child {padding: 0;margin: 0}
.comments .comment-thread.inline-thread .comment, .comments .comment-thread.inline-thread .comment:last-child {margin: 0px 0px 5px 30%}
.comment .comment-thread.inline-thread .comment:nth-child(6) {margin: 0px 0px 5px 25%;}
.comment .comment-thread.inline-thread .comment:nth-child(5) {margin: 0px 0px 5px 20%;}
.comment .comment-thread.inline-thread .comment:nth-child(4) {margin: 0px 0px 5px 15%;}
.comment .comment-thread.inline-thread .comment:nth-child(3) {margin: 0px 0px 5px 10%;}
.comment .comment-thread.inline-thread .comment:nth-child(2) {margin: 0px 0px 5px 5%;}
.comment .comment-thread.inline-thread .comment:nth-child(1) {margin: 0px 0px 5px 0;}
.comments .comments-content .comment-thread {margin: 0;padding: 0}
.comments .comments-content .inline-thread {padding: 10px 0;margin: 0}
.comments .comments-content .icon.blog-author {position: absolute;top: -2px;right: -2px;margin: 0;background-image: url(//3.bp.blogspot.com/-c0gwWErZ6ZI/UbSD539E_qI/AAAAAAAAAPQ/vQuaJw27r1A/s1600/bitmap.png);width: 59px;height: 43px;}
.comments .comment .comment-actions a{border:1px solid #3079ed;background:#4d90f0;color:#fff;font-weight: 500;border-radius:2px;padding:2px 5px;margin-right:5px;font-size:13px}
.comments .continue a,.comments .thread-toggle a{background-color:#f5f5f5;border-radius:2px;color:#555;border:1px solid rgba(0,0,0,.1);display: inline-block;padding:0 8px;font-size:70%;font-weight: 500}
/* stripes */
.gmr-bgstripes{width:100%;height:4px;overflow:hidden;background:#333}
.gmr-bgstripe{width:5%;height:4px;float:left}
.gmr-color1{background:#008299}
.gmr-color2{background:#2672ec}
.gmr-color3{background:#8c0095}
.gmr-color4{background:#5133ab}
.gmr-color5{background:#ac193d}
.gmr-color6{background:#d24726}
.gmr-color7{background:#008a00}
.gmr-color8{background:#094ab2}
.gmr-color9{background:#006ac1}
.gmr-color10{background:#ff2e12}
.gmr-color11{background:#1faeff}
.gmr-color12{background:#91d100}
.gmr-color13{background:#cea539}
.gmr-color14{background:#7f6e94}
.gmr-color15{background:#4617b4}
.gmr-color16{background:#ad103c}
.gmr-color17{background:#004d60}
.gmr-color18{background:#569ce3}
.gmr-color19{background:#e56c19}
.gmr-color20{background:#1b58b8}
/* Footer */
#footer {background: #2c3e50;max-width:100%;margin: 15px auto 0}
.footer .widget-content {display: none;visibility: hidden;padding: 15px 0}
.post-footer{color:#999;font-style:normal;margin:.3em 0;padding:2px;text-transform:none}
#credit {color: #ecf0f1;font-size: 13px;padding: 15px 0;margin: 0 auto;text-align: center}
#credit a{color:#fff}
#credit a:hover{color:#bdc3c7}
#credit i{color:red;margin:auto 5px}
span.credit {color:yellow}
/* footer navigasi */
#footer-navmenu {padding: 15px 0px;font-weight: 500;font-size:15px;color: #ffffff;max-width: 100%;margin: 0 auto;text-align: center;}
#footer-navmenu ul {list-style: none;margin: 0;}
#footer-navmenu ul li {display: inline-block;margin: 6px 0;}
#footer-navmenu ul li:after {content:"/";}
#footer-navmenu ul li:last-child:after {content:"";}
#footer-navmenu ul li a {color: #ffffff;margin: 0 10px;}
#footer-navmenu ul li a:hover {color: #ffffff;border-bottom: 2px solid #ffffff;}
/* blog pager */
#blog-pager{margin:15px 0}
#blog-pager-older-link a{border:1px solid #ddd;float:right;width:auto;text-align:center;display:inline-block;color:#555;text-transform:none;margin:0;padding:4px 8px;background:#fff;font-size:15px}
#blog-pager-older-link a:hover, #blog-pager-newer-link a:hover{color:#ecf0f1}
#blog-pager-newer-link a{float:left;width:auto;text-align:center}
#blog-pager-newer-link a, #blog-pager-older-link a {font-size: 15px;padding: 6px 10px;margin: 2px 3px 2px 0px;display: inline-block;color: #e74c3c;border: 1px solid #ecf0f1;}
#blog-pager-older-link a:hover, #blog-pager-newer-link a:hover{color: #e74c3c;border: 1px solid #e74c3c}
/* back to top */
#back-to-top {background:#e74c3c;color:#ffffff;padding:10px 12px;border-radius:50px;font-size:15px}
.back-to-top {position:fixed !important;bottom:20px;right:20px;z-index:9999;}
/* Responsive */
@media screen and (max-width:1040px){
#outer-wrapper, #wrapper{width:auto}
}
@media screen and (max-width:980px){
#wrapper{padding: 0 25px}
#navitions{border-bottom:none}
}
@media (min-width: 768px) and (max-width: 979px) {
.ai-viewport-1 {display: none !important;}
.ai-viewport-2 {display: inherit !important;}
}
@media screen and (max-width:800px){
#header-inner h1, #header-inner img, #header h1, #header-inner h2, #header h2, #header-inner .title, #header-inner h1 a, #header-inner .title a{text-align: center}
}
@media screen and (min-width:768px){
#header2{display: none;visibility: hidden}
}
@media screen and (max-width:768px){
#header2,#header2 .widget{display: block!important;max-width: 100%;width: 100%;text-align: center;overflow: hidden;margin: 1px auto}
#wrapper{padding: 0 20px}
#main-wrapper, #sidebar-wrapper {float:none;width:100%;max-width:100%}
.post-body img{width: 100%;aspect-ratio:0!important}
}
@media (max-width: 767px) {
.ai-viewport-1 {display: none !important;}
.ai-viewport-3 {display: inherit !important;}
}
@media screen and (max-width:600px){
#wrapper{padding: 0 15px}
}
@media only screen and (min-width:769px) {
body{overflow: auto}
#d_co {bottom: 0;left: 0;right:0;font-family: sans-serif;margin: 0 auto 1.5em;max-height: 155px;position: fixed;text-align: center;width: 728px;max-width: 728px;z-index: 98}
#d_ttl {border-bottom: 1px solid #bbb;font-size: 11px;letter-spacing: 3px;margin: 0 0 2px 0}
#d_sp {outline: 1px solid #bbb;display: inline-block;position: relative;background: #eee;min-height: 105px}
#d_ads {min-width: 728px;max-height: 90px}
#d_x {background: linear-gradient(to right, #802102 31%, #dd0001 32%, #dd0001 100%);border: 2px solid #fff;color: #fff;font-size: 12px;left: 20px;outline: solid 1px #000;padding: 4px 4px;pointer-events: none;position: absolute;top: 45%;z-index: 99}
#d_x::first-letter {background: #fff;color: #000;margin-right: 5px;padding: 0 3px}
}
@media only screen and (max-width:768px) {
body{overflow: hidden}
#m_ttl {border: 1px solid #bbb;font-size: 11px;letter-spacing: 3px;margin: 2px 0 1px 0}
#m_co {bottom: 0;font-family: sans-serif;left: 0;margin-bottom: 1px;max-height: 140px !important;pointer-events: none;position: fixed;text-align: right;width: 100%;z-index: 98}
#m_ads {background: #eee;max-height: 100px;pointer-events: auto;text-align: center}
#m_x {background: linear-gradient(to right, #802102 32%, #dd0001 32%, #dd0001 100%);border: 2px solid #fff;color: #fff;display: inline-block;font-size: 12px;margin-right: 2em;outline: 1px #000 solid;padding: 1px 4px;z-index: 99}
#m_x::first-letter {background: #fff;color: #000;margin-right: 6px;padding: 0 3px}
#t_co {max-height: 130px;top: 0;left: 0;font-family: sans-serif;position: fixed;text-align: center;width: 100%;z-index: 98}
#t_ttl {border-top: 1px solid #bbb;font-size: 11px;letter-spacing: 3px;margin: 0;}
#t_sp {margin-top: 0.2em;outline: 1px solid #bbb;position: relative;background: #eee;}
#t_ads {max-height: 90px;vertical-align: middle;}
#t_x {background: linear-gradient(to right, #802102 31%, #dd0001 32%, #dd0001 100%);border: 2px solid #fff;color: #fff;font-size: 12px;right: 5%;outline: solid 1px #000;padding: 4px 4px;pointer-events: none;position: absolute;top: 15%;z-index: 99}
#t_x::first-letter {background: #fff;color: #000;margin-right: 5px;padding: 0 3px}
}
@media screen and (max-width:480px){
#wrapper{padding: 0 10px}
.post-thumbnail{width: 100%;margin: 0 auto 5px}
}
/* Responsive */
@media screen and (max-width: 768px){
.ads-left,.ads-right{display: block;float: none;margin: 5px 0 0;text-align: center}
}